<style>
	.required{
		color:red;
	}
</style>
<div class="container">
<div class="col-lg-12">
              <ul class="breadcrumb">
                <li><a href="#Home" style="z-index:9;">Home</a></li>
				<li class="active">Add Bank Account</li>
              </ul>
            </div>
    <h2>Account Details</h2>
	<hr style="border:1px solid #FF3300">
	   <div class="well col-lg-12">
	  <div class="well col-lg-10 col-lg-offset-1"style="background-color:white">
      <form class="form-horizontal">
            <div class="col-lg-12">
            <label for="bankname" class="col-lg-4"><span class="required">*</span>&nbsp;Select Bank Name
         </label>
            <div class="form-group col-lg-5">
         <div class="input-group">
          	<span class="input-group-addon">
        <i class="fa fa-bank"></i></span>
                  <select class="form-control" data-size="5">
						<option value="-1">Select Bank</option>
						<option value="SBI" data-bankid="8565559">
									State Bank of India</option>
							
						<option value="HDFC" data-bankid="8565560">
									HDFC Bank</option>
							
						<option value="ICICI" data-bankid="8565557">
									ICICI Bank</option>
							
						<option value="AXIS" data-bankid="8565566">
									Axis Bank</option>
							
						<option value="PNB" data-bankid="8565588">
									Punjab National Bank</option>
							
						<option value="NKMB" data-bankid="8565585">
									Kotak Bank</option>
							
						<option value="ANDB" data-bankid="8565565">
									Andhra Bank</option>
							
						<option value="ASBI" data-bankid="">
									State Bank of India</option>
							
						<option value="BBK" data-bankid="8565567">
									Bank of Bahrain and Kuwait</option>
							
						<option value="BHARAT" data-bankid="8565738">
									Bharat Bank</option>
							
						<option value="BOB" data-bankid="8565564">
									Bank of Baroda</option>
							
						<option value="BOI" data-bankid="8565568">
									Bank of India</option>
							
						<option value="BOM" data-bankid="8565569">
									Bank of Maharashtra</option>
				
						<option value="ALH" data-bankid="8565576">
									Allahabad Bank</option>
							
						<option value="CANARA" data-bankid="8565571">
									Canara Bank</option>
			
						<option value="CSB" data-bankid="8565603">
									Catholic Syrian Bank</option>
					
						<option value="CBI" data-bankid="8565616">
									Central Bank of India</option>
							
						<option value="CITIUB" data-bankid="8565572">
									City Union Bank</option>
							
						<option value="CORP" data-bankid="8565573">
									Corporation Bank</option>
							
						<option value="COSMOS" data-bankid="8565628">
									Cosmos Bank</option>
							
						<option value="DEUTS" data-bankid="8565574">
									Deutsche Bank</option>
							
						<option value="FDEB" data-bankid="8565575">
									Federal Bank</option>
							
						<option value="DCB" data-bankid="8565614">
									DCB Bank Ltd.</option>
							
						<option value="DENA" data-bankid="8565705">
									Dena Bank</option>
							
						<option value="GPPB" data-bankid="8565818">
									Gopinath Patil Parsik Janata Sahakari Bank Ltd.</option>
							
						<option value="IDBI" data-bankid="8565577">
									IDBI Bank</option>
							
						<option value="IDFC" data-bankid="8565770">
									IDFC Bank Ltd.</option>
							
						<option value="INDB" data-bankid="8565617">
									Indian Bank</option>
							
						<option value="IOB" data-bankid="8565578">
									Indian Overseas Bank</option>
							
						<option value="INDS" data-bankid="8565580">
									IndusInd Bank</option>
							
						<option value="JKB" data-bankid="8565582">
									Jammu and Kashmir Bank</option>
							
						<option value="JSB" data-bankid="8565758">
									Janata Sahakari Bank</option>
							
						<option value="KTKB" data-bankid="8565583">
									Karnataka Bank</option>
							
						<option value="KVB" data-bankid="8565584">
									Karur Vysya Bank</option>
							
						<option value="LVB" data-bankid="8565586">
									Lakhsmi Vilas Bank</option>
							
						<option value="OBPRF" data-bankid="8565587">
									Oriental Bank of Commerce</option>
							
						<option value="PMCB" data-bankid="8565858">
									Punjab &amp; Maharashtra Co-operative Bank Ltd</option>
							
						<option value="PSB" data-bankid="8565701">
									Punjab &amp; Sind Bank</option>
							
						<option value="RATN" data-bankid="8565615">
									RBL Bank</option>
							
						<option value="SVB" data-bankid="8565629">
									Shamrao Vithal Bank</option>
							
						<option value="STB" data-bankid="8565662">
									Saraswat Co-operative Bank Ltd</option>
							
						<option value="SIB" data-bankid="8565590">
									South Indian Bank</option>
							
						<option value="SCB" data-bankid="8565591">
									Standard Chartered Bank</option>
							
						<option value="SVC" data-bankid="8565742">
									SVC Cooperative Bank Ltd</option>
							
						<option value="SYNBK" data-bankid="8565596">
									Syndicate Bank</option>
							
						<option value="TNMB" data-bankid="8565597">
									Tamilnad Mercantile Bank</option>
							
						<option value="UNI" data-bankid="8565598">
									Union Bank of India</option>
							
						<option value="UBI" data-bankid="8565602">
									United Bank of India</option>
							
						<option value="VJYA" data-bankid="8565600">
									Vijaya Bank</option>
							
						<option value="YES" data-bankid="8565601">
									Yes Bank</option>
							
						<option value="UCO" data-bankid="8565651">
									UCO Bank</option>
							
						<option value="DBS" data-bankid="8565621">
									DBS BANK LTD</option>
							
						</select>
            </div>
         </div>
      </div>
         <div class="col-lg-12">
            <label for="account" class="col-lg-4"><span class="required">*</span>&nbsp;Account Holder Name
         </label>
            <div class="form-group col-lg-5">
         <div class="input-group">
          	<span class="input-group-addon">
        <i class="fa fa-user"></i></span>
            <input type="text" class="form-control" placeholder="Account holder name" ng-model="bank.fromdate">
    </div>
</div>
            </div>
            <div class="col-lg-12">
            <label for="account" class="col-lg-4"><span class="required">*</span>&nbsp;Account Number
         </label>
            <div class="form-group col-lg-5">
         <div class="input-group">
          	<span class="input-group-addon">
        <i class="fa fa-edit"></i></span>
            <input type="text" class="form-control" placeholder="Account Number">
    </div>
</div>
            </div>
            <div class="col-lg-12">
            <label for="auditReport" class="col-lg-4"><span class="required">*</span>&nbsp;IFSC Code
         </label>
            <div class="form-group col-lg-5">
         <div class="input-group">
          	<span class="input-group-addon">
        <i class="fa fa-vcard"></i></span>
            <input type="text" class="form-control" placeholder="IFSC Code">
    </div>
</div>
            </div>
            <div class="col-lg-12">
            <label for="branch" class="col-lg-4"><span class="required">*</span>&nbsp;Branch Name
         </label>
            <div class="form-group col-lg-5">
         <div class="input-group">
          	<span class="input-group-addon">
        <i class="fa fa-sitemap"></i></span>
            <input type="text" class="form-control" placeholder="Branch name">
    </div>
</div>
            </div>
            <div class="col-lg-12">
            <label for="Cheque" class="col-lg-4"><span class="required">*</span>&nbsp;Bank Cheque Copy
         </label>
            <div class="form-group col-lg-5">
         <div class="input-group">
          	<span class="input-group-addon">
        <i class="fa fa-id-badge"></i></span>
            <input type="file" class="form-control">
    </div>
</div>
            </div>
         <div class="form-group">
            <div class="col-lg-offset-4 col-lg-8">
            
               <button id="btnSearch"class="btn btn-success"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;&nbsp;Submit</button>
               <a class="btn btn-danger cancel" href="/AuditLog?Reset=1"><i class="fa fa-rotate-left"></i>&nbsp;&nbsp;&nbsp;Reset</a>
            </div>
         </div>
</div>
	</div>
	