<style>
   .note{
   color:red;
   }
   .well{
	background-color:white;
}
</style>
<div class="container">
   <div class="row">
   <div class="col-lg-12">
              <ul class="breadcrumb">
                <li><a href="#Home" style="z-index:9;">Home</a></li>
                <li><a href="#TruckRequests">Truck Requests</a></li>
				<li class="active">AssignTruck</li>
              </ul>
            </div>
      <h1 style="text-align:center">Post Requirement</h1>
	  <div class="col-lg-4 col-lg-offset-4" style="height:2px; background:#FF3300;">
	  </div>
	    <div class="well col-md-12">
      <div class="col-lg-12">
         <form>
		 <fieldset>
            <div class="form-group col-lg-4">
               <label for="fromcity">From City</label>
               <input type="text" class="form-control">
            </div>
            <div class="form-group col-lg-2"></div>
            <div class="form-group col-lg-4">
               <label for="tocity">To City</label>
               <input type="text" class="form-control">
            </div>
            <div class="form-group col-lg-4">
               <label for="km">Kilometers</label>
               <input type="text" class="form-control">
            </div>
            <div class="form-group col-lg-2"></div>
            <div class="form-group col-lg-4">
               <label for="rent">Expect Rent</label>
               <input type="text" class="form-control">
            </div>
            <div class="form-group col-lg-4">
               <label for="km">Advance %</label>
               <input type="text" class="form-control">
            </div>
            <div class="form-group col-lg-2"></div>
            <div class="form-group col-lg-4">
               <label for="rent">No.Of Vehicales</label>
               <input type="text" class="form-control">
            </div>
            <div class="form-group col-lg-4">
               <label for="typeoftruck">Type Of Truck</label>
               <select type="text" class="form-control">
                  <option value="">Select Truck Type</option>
                  <option value="8">6 Tyre Truck</option>
                  <option value="3">10 Tyre Truck</option>
                  <option selected="selected" value="2">12 Tyre Truck</option>
                  <option value="4">14 Tyre Truck</option>
                  <option value="1">18 Tyre truck</option>
                  <option value="6">22 Tyre Truck</option>
                  <option value="12">3 Tyre Auto Truck</option>
                  <option value="20">4 Tyre Tata Ace Zip</option>
                  <option value="9">4 Tyre Tata Ace</option>
                  <option value="19">4 Tyre Tata Super Ace</option>
                  <option value="10">4 Tyre Tata 407</option>
                  <option value="18">4 Tyre Tata Yodha</option>
                  <option value="17">4 Tyre Bolero Truck</option>
                  <option value="11">4 Tyre Ashok leyland Dost</option>
                  <option value="13">14 Tyre Trailer</option>
                  <option value="14">18 Tyre Trailer</option>
                  <option value="15">22 Tyre Trailer</option>
               </select>
            </div>
            <div class="form-group col-lg-2"></div>
            <div class="form-group col-lg-4">
               <label for="truckcapacity">Truck Capacity</label>
               <input type="text" class="form-control">
            </div>
            <div class="form-group col-lg-4">
               <label for="needofdate">Need Of Date</label>
               <input type="text" class="form-control" placeholder="Select Date">
            </div>
            <div class="form-group col-lg-2"></div>
            <div class="form-group col-lg-4">
               <label for="typeofload">Type Of Load</label>
               <select type="text" class="form-control">
                  <option value="">Select Load Type</option>
                  <option value="5">Coal</option>
                  <option value="3">Iron ore</option>
                  <option value="4">Fertilizer</option>
                  <option selected="selected" value="1">Cement</option>
                  <option value="6">Iron Steel Metal</option>
                  <option value="2">Rice</option>
                  <option value="7">Wood</option>
                  <option value="13">Steel</option>
                  <option value="12">Grass</option>
                  <option value="11">Electronics</option>
                  <option value="10">Bricks</option>
                  <option value="9">Sand</option>
                  <option value="8">Furniture</option>
                  <option value="14">Scrap Metal</option>
                  <option value="15">Vegetables</option>
                  <option value="16">Fruits</option>
                  <option value="17">Pulses &amp; Cereals</option>
                  <option value="18">Oil</option>
               </select>
            </div>
         </form>
      </div>
      <label for="note" class="note">Note: Transport/Truck Owner Address will be sent to your mobile/email with in 5 hours of payment</label>
      <div class="col-lg-12">
         <div class="col-lg-4"></div>
         <button class="btn btn-primary col-lg-4">Pay ₹10</button>
         <div class="col-lg-4"></div>
      </div>
	  </fieldset>
   </div>
   </div>
</div>