<style>
    .required {
        color: red;
    }
	body{
		background-color:white;
	}
    .well{
        background-color: #F7F7F7;
    }
    #cboxStatus {
    height: 20px;
    width: 20px;
    vertical-align: text-bottom;
}
</style>
<div class="container">
<div class="col-lg-12">
              <ul class="breadcrumb">
                <li><a href="#Home" style="z-index:9;">Home</a></li>
				 <li class="active">Branches</li>
				
              </ul>
            </div>
    <h2>Branches List</h2>
	 <hr style="border:1px solid #FF3300">
	<div class="well col-md-10 col-md-offset-1">
    <form>
         <div class="form-group">
         <div class="col-lg-12">
      <div class="col-lg-2 col-lg-offset-9">
      <a class="btn icon-btn btn-success" href="#NewBranches">
        <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>
        New Branch
      </a>
      <!--<a href="#PostingLoads"><button class="btn"><i class="fa fa-plus" aria-hidden="true"></i>
            <span class="fs-it-btn-vertical-line"></span>Add New Post</button></a>--></div>
            <br>
        </div>
        </div>
        <div class="col-lg-6 form-group">
            <label class="col-lg-4" for="branch">Branch Name</label>
            <div class="input-group">
                <span class="input-group-addon">
                <i class="fa fa-university"></i></span>
                <input type="text" class="form-control" placeholder="Enter Branch Name" ng-model="branch.branch_name" name="branch_name" ng-required="true" id="branch_name">
            </div>
        </div>
       <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
            
               <button id="btnSearch"class="btn btn-success"><i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;Search</button>
               <a class="btn btn-danger"><i class="fa fa-times"></i>&nbsp;&nbsp;&nbsp;Cancel</a>
            </div>
         </div>
    </form>
	</div>
<!--<div class="form-group">
            <div class="col-md-12">
                <div class="grid-mvc" data-lang="en" data-gridname="gridView" data-selectable="true" data-multiplefilters="false">
        <div class="grid-wrap">
            <table class="table table-bordered grid-table">
                
                <thead>
                        <tr>
<th class="grid-header" style="width:100px;"><div class="grid-header-title"><span>Solutions</span></div></th><th class="grid-header" style="width:100px;"><div class="grid-header-title"><a href="">Branch Name</a></div></th><th class="grid-header" style="width:300px;"><div class="grid-header-title"><a href="">Address</a></div></th><th class="grid-header std_nowrap std_audit" style="width:100px;"><div class="grid-header-title"><span>Created On</span></div></th><th class="grid-header std_nowrap std_audit" style="width:100px;"><div class="grid-header-title"><span>Last Modified On</span></div></th>    </tr>

                </thead>
                <tbody>
                        <tr class="grid-row ">
<td class="grid-cell" data-name="BranchID">    <a href="" title="delete">
        <i class="fa fa-window-close " aria-hidden="true"></i>
    </a>
    <a href="#NewBranches" title="Edit">
        <i class="fa fa-pencil-square" aria-hidden="true"></i>
    </a>
    <a href="" title="status">
        <input type="checkbox" id="cboxStatus" checked>
        <label for="cboxStatus">Active</label>
    </a>
</td><td class="grid-cell" data-name="BranchName">KAKINADA PORT</td><td class="grid-cell" data-name="Address">Office no:12 TTT plaza     
 2 nd floor  kakinada port east godavari (dt) (ap) india</td><td class="grid-cell std_nowrap std_audit" data-name="CreatedDate">26 Oct 2017, 11:03 AM</td><td class="grid-cell std_nowrap std_audit" data-name="ModifiedDate">24 Jul 2018, 10:04 PM</td>    </tr>

                </tbody>
            </table>
                <div class="grid-footer">
        
    </div>

        </div>
    </div>
            </div>
        </div>-->
</div>
<div class="container well" style="background-color: white">
<div class="row">

            <div class="col-md-12 table-responsive">

         
                        <table class="table table-striped table-bordered table-list">
                            <thead>
                                <tr>
                                  <th style="width:150px">Actions</th>
                        <th><a>Branch Name</a></th>
                        <th><a>Address</a></th>
                        <th>Created On</th>
                        <th>Last Modified On</th>
                                </tr>
                            </thead>
                            <tbody id="myTable">
<tr>
 <td align="center" data-name="BranchID">
                                        <a href="#AddDriver" class="btn btn-success"><em class="fa fa-pencil"></em></a>
                                        <a class="btn btn-danger"><em class="fa fa-trash"></em></a>
                                        <input type="checkbox" id="cboxStatus">
                                        <a href="">Active</a>
                                    </td>
<td  data-name="BranchName">KAKINADA PORT</td><td  data-name="Address">Office no:12 TTT plaza     
 2 nd floor  kakinada port east godavari (dt) (ap) india</td><td  data-name="CreatedDate">26 Oct 2017, 11:03 AM</td><td  data-name="ModifiedDate">24 Jul 2018, 10:04 PM</td>    </tr>

                            </tbody>
                        </table>

                    

            </div>
        </div>
    </div>
