<style>
    .required {
        color: red;
    }
    
    hr {
        border: 1px solid black;
    }
    body{
        background-color: white;
    }
    .well{
        background-color: #F7F7F7;
    }
</style>
<div class="container">
<div class="col-lg-12">
              <ul class="breadcrumb">
                <li><a href="#Home" style="z-index:9;">Home</a></li>
                <li class="active">CitiesList</li>
              </ul>
            </div>
    <h2>Cities</h2>
    <hr style="border:1px solid #FF3300">
    <div class="well col-lg-12">
        <div class="form-group">
        <div class="col-lg-12">
      <div class="col-lg-2 col-lg-offset-9">
      <a class="btn icon-btn btn-success" href="#NewCity">
        <span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>
        New City
      </a>
      <!--<a href="#PostingLoads"><button class="btn"><i class="fa fa-plus" aria-hidden="true"></i>
            <span class="fs-it-btn-vertical-line"></span>Add New Post</button></a>--></div>
            <br>
        </div>
        </div>
        <div class="col-lg-6 form-group has-feedback">
            <label class="col-lg-4" for="city">City</label>
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                <input class="form-control" maxlength="50"name="searchparams_name" placeholder="Search city" type="text" autocomplete="off">
            </div>
        </div>
       <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
            
               <button id="btnSearch"class="btn btn-success" ng-click="searchDrivers();""><i class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;Search</button>
               <a class="btn btn-danger" ng-click="resetSearch();"><i class="fa fa-rotate-left"></i>&nbsp;&nbsp;&nbsp;Reset</a>
            </div>
         </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <div class="panel panel-default panel-table">
                    <div class="panel-body table-responsive">
                        <table class="table table-striped table-bordered table-list">
                            <thead>
                                <tr>
                                    <th>Actions</th>
                                    <th><a>City</a></th>
                                    <th><a>State</a></th>
                                </tr>
                            </thead>
                            <tbody id="myTable">

                                <tr>
                                    <td align="center">
                                        <a href="" class="btn btn-success"><em class="fa fa-pencil"></em></a>
                                        <a class="btn btn-danger"><em class="fa fa-trash"></em></a>
                                        
                                         <label class="switch">
                                         <input type="checkbox" id="cboxStatus">
                                      </label>
                                    </td>
                                    <td>Alathur (Pattukottai)</td>
                                    <td>Maharashtra</td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <a href="" class="btn btn-success"><em class="fa fa-pencil"></em></a>
                                        <a class="btn btn-danger"><em class="fa fa-trash"></em></a>
                                        
                                         <label class="switch">
                                         <input type="checkbox" id="cboxStatus">
                                      </label>
                                    </td>
                                    <td>Alathur(Kerala)</td>
                                    <td>Maharashtra</td>
                                </tr>
                                <tr>
                                   <td align="center">
                                        <a href="" class="btn btn-success"><em class="fa fa-pencil"></em></a>
                                        <a class="btn btn-danger"><em class="fa fa-trash"></em></a>
                                        
                                         <label class="switch">
                                         <input type="checkbox" id="cboxStatus">
                                      </label>
                                    </td>
                                    <td>Alathur (Kerala)</td>
                                    <td>Maharashtra</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
                <ul class="pagination">
                    <li class="active"><a href="#CitiesList">1</a></li>
                    <li><a href="#CitiesList2">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                </ul>

            </div>
        </div>
        </div>
        </div>
        