<div class="more">
   <div class="container">
      <div style="height:320px">
         <h2 class="text-center">Available Loads</h2>
         <hr>
         <div class="table-responsive">
            <table class="table table-bordered grid-table table-responsive">
               <thead>
                  <tr>
                     <th>Type of Loading</th>
                     <th>From City</th>
                     <th>To Cit</th>
                     <th>Kms</th>
                     <th>Load Cost</th>
                     <th>Advance</th>
                     <th>Available Tons</th>
                     <th>Available Dates</th>
                     <th>Need of Vehicle</th>
                     <th>Booking</span>
         </div>
         </th><th>Posted On</th></tr>
         </thead>
         <tbody>
         <tr>
         <td>Iron ore</td><td>Nellore (HARINATHPURAM)</td><td>lingampally (bhel)</td><td>480</td><td>1300/- per ton</td><td>60%</td><td>1000</td><td>31-07-2018</td><td>10 Tyre Truck</td><td>    <a href=""class="std_tbold btn btn-info">
         Pay&nbsp;<i class="fa fa-inr" aria-hidden="true"></i>&nbsp;10
         </a>
         </td><td>31 Jul 2018, 02:52 PM</td>    </tr>
         </tbody>
         </table>
      </div>
   </div>
</div>
</div>