
		 <!-- Page Footer Section STARTS -->
        <footer class="footerBg pgWrap clearfix">
        
            <div class="container clearfix">
            
            	<div class="row clearfix">
                
                    <div class="col-md-6 col-sm-6">
                    
                        <!-- News STARTS -->
                        <div id="news" class="clearfix" style="
                            font: 14px 'Open Sans', sans-serif;
                            font-weight: normal;
                            font-style: normal;
                            line-height: 23px;
                            /* color: #727272; */
                        ">
                            
                            <h2>Quick Contact</h2>
                            
                            <p><i class="fa fa-phone" style="font-size: 14px;">&nbsp;</i> <span class="small">(+91) 939 806 4314<br/>
&nbsp;&nbsp;&nbsp;&nbsp;(+91) 939 806 4314</span></p>
                            
                            <p class="noTopMargin"><i class="fa fa-envelope-o" style="font-size: 14px;">&nbsp;</i> <span class="small">admin@ravaana.com</span></p>
                               
                            <p class="noTopMargin"><i class="fa fa-map-marker" style="font-size: 14px;">&nbsp;</i> <span class="small">
                            Velliin india pvt ltd, <br/>&nbsp;&nbsp;&nbsp;&nbsp;#201, 2nd Floor, <br/>&nbsp;&nbsp;&nbsp;&nbsp;Survey No. 429, NH-65,<br/> &nbsp;&nbsp;&nbsp;&nbsp;Hyderabad, India 502032</span></p>
                        
                        </div>
                        <!-- News ENDS -->
                    
                    </div> 
                    <!-- .col-md-3 ENDS -->
                            
                            
                    <div class="col-md-6 col-sm-6">
                    
                        <!-- Newsletter STARTS -->
                        <div id="newlsetterForm" class="clearfix">
                            
                            <h2>Get Newsletter</h2>
                                                        
                            <form id="frmNewletter" name="frmNewletter" action="#" method="post">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="txtEmailId" name="txtEmailId" placeholder="Enter Email Address">
                                </div>
                                <button type="submit" class="btn btn-success" style="margin-bottom: 10px"><i class="fa fa-floppy-o"style="font-size:17px"></i>&nbsp;Submit</button>
                            </form>                                   
                        
                        </div>
                        <!-- Contact ENDS -->
                    
                    </div> 
                    <!-- .col-md-3 ENDS -->
                            
                    
                    
                </div>
                <!-- .row ENDS -->
            
            </div>
        	<!-- .container ENDS -->
        
        </footer> 
       <div class="footer-bottom">
			<div class="container">
					<div class="row">
						<div class="col-sm-6 ">
							<div class="copyright-text">
								<p>Copyright 2017 Ravaana | All Rights Reserved | Velliin India Pvt Ltd</p>
							</div>
						</div> <!-- End Col -->
						<div class="col-md-2 socialicon">
						<div class="social-icon">
							<ul class="list-inline">
								<li class="facebook">
									<a href="http://facebook.com/">
										<i class="fa fa-facebook"style="font-size: 14px;"></i></a>
								</li>
								<li class="twitter"><a href="http://twitter.com/"><i class="fa fa-twitter"style="font-size: 14px;"></i></a></li>
								<li class="google"><a href="http://google.com/"><i class="fa fa-google"style="font-size: 14px;"></i></a></li>
							</ul>
						</div>
					</div>
					</div>
				</div>
		</div>