<div class="container">
<div class="row">
      <div class="col-lg-12">
              <ul class="breadcrumb">
                <li><a href="#Home" style="z-index:9;">Home</a></li>
				<li class="active">RoadRavaana</li>
              </ul>
         </div>
	<div class="well col-lg-12">
      <div class="col-lg-12 ">
         <h3 class="text-center ">Road Ravaana</h3>
		 <div class="col-lg-4 col-lg-offset-4" style="height:2px; background:#FF3300;">
	  </div>
        <br>
      </div>
	   <p style="text-align: center; ">We are best in this industry from last 2 Years. We know art and science behind the shipping industry.</p>
	   <br>
      <div class="col-lg-12 ">
         <div class="col-lg-5 ">
            <p class="mrgn-btm-xs tex " style="text-align:justify">We at Transporter Group&nbsp;deliver goods&nbsp;that sets benchmark across multidisciplinary segments. We span across 7 continent and have a base of 5 Millions satisfied customers since 2015. From sending to receiving , we understand the art and science behind the shipping. At Transporter Group&nbsp;we also delivered the glass &nbsp;goods&nbsp; and electrical goods&nbsp;.We have a team of dedicated professional that provide integrated solution to ensure safety and on time Delivery&nbsp;&nbsp;of &nbsp;your goods. We are known for providing world class shipping experience in the world .</p>
            <p class="mrgn-btm-xs tex " style="text-align:justify ">We give fully insurance on consignment. We provide worldwide services in all three formats road,sea and air. We also provide online tracking system ,by which customer can track his&nbsp;consignment worldwide and provide SMS services time to time during the duration of delivery to keep the user about consignment .</p>
            <p class="mrgn-btm-sm tex " style="text-align:justify ">Also customer &nbsp;can estimated their &nbsp;goods price by using our online calculator and also know your deliver date and many more.</p>
         </div>
         <div class="col-lg-5 col-lg-offset-2 ">
            <img src="images/cargo-truck-clipart-free-simple-cartoon-truck-with-cargo-clip-art-702.png " class="img-responsive " height="300px ">
			<h3 class="tpt_heading_rand283 text-center ">Certified Transporter</h3>
			 <div style="height:2px; background:#FF3300;"></div>
            <div class="text-left " style="line-height: 25px; ">
               <p>Ravaana prides itself on it's friendly, uniformed, professional transport services. So far we safely drove over one million miles, transporting customer to over 9,000 destinations.</p>
         </div>
		  <div style="padding:10px "><a class="btn-lg btn-info " href="#ContactUs">Contact Us</a></div>
      </div>
   </div>
</div>
</div>
