   <style>
      
   body{
      background-color: white;
   }
   .search2{
      display:none;
   }
   .well {
    min-height: 21px;
    padding: 19px;
    height: 72px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
   @media only screen and (max-width: 700px) {
     .search2{
      display:block;
   }
   .search1{
      display: none;
   }
.w3-table-all  td{
   padding-left: 7px;
   padding-bottom: 7px;
   text-align: left;
}
.row1{
   padding-bottom: 10px;
}
.well {
    min-height: 21px;
    padding: 19px;
    height: 340px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}

    }
   </style>
   <div class="container">
   <div class="col-lg-12">
   <ul class="breadcrumb">
   <li><a href="#Home">Home</a></li>
   <li class="active">Search</li>
   </ul>
   </div>
	  <div class="col-md-12">
         <h2>Available Loads</h2>
         <hr style="border:1px solid #FF3300">
         <div class="container col-lg-12"> 
      <div class="well imp">
                    <form class=="form-control" role="form" ng-init="search();">
                      <div class="col-lg-2">
                        <div class="form-group">
                          <select id="search_type" name="search_type" class="form-control" style="color:black;background-color: white" ng-model="searchParam.search_type">
                             <option selected="selected" value="load">Load</option>
              <option value="truck" ng-if="business_type==null || business_type=='TransportCompany'">Truck</option>
                          </select>
                        </div>
                      </div>
            <div class="col-lg-2" ng-if="searchParam.search_type == 'load'">
                        <div class="form-group">
                          <select id="load" name="load" class="form-control"  style="color:black;background-color: white" ng-model="searchParam.load_type">
                            <option value="">Any Load</option>                
              <option ng-repeat="loadType in load_types" value="{{loadType.id}}">{{loadType.load_type}}</option>    
                          </select>
                        </div>
                      </div>
                      <div class="col-lg-2" ng-if="searchParam.search_type == 'truck'">
                        <div class="form-group">
                          <select id="load" name="load" class="form-control"  style="color:black;background-color: white" ng-model="searchParam.truck_type">
                            <option value="">Select Truck</option>               
              <option ng-repeat="vehicleType in vehicle_types" value="{{vehicleType.id}}">{{vehicleType.vehicle_type}}</option>   
                          </select>
                        </div>
                      </div>
             <div class="col-lg-2">
                        <div class="form-group">
                          <label class="sr-only" for="location">Location</label>
                         <input type="text" class="form-control" id="from_city"  style="color:black;background-color: white" placeholder="From City" ng-autocomplete ng-model="searchParam.from_city">

                        </div>
                      </div>
             <div class="col-lg-2">
                        <div class="form-group">
                          <label class="sr-only" for="location">Location</label>
                         <input type="text" class="form-control"  style="color:black;background-color: white" id="to_city" placeholder="To City" ng-autocomplete ng-model="searchParam.to_city" >
                        </div>
                      </div>
                      <div class="col-lg-2">
                        <div class="form-group">
                          <label class="sr-only" for="checkin">Check in</label>
                          <div class="input-group">
                            <input type="text" class="form-control" id="search_datePicker" style="color:black;background-color: white" placeholder="Date" ng-model="searchParam.available_date">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                          </div>
                        </div>
                      </div>
                     
                      <div class="col-lg-2">
                        <button type="button" ng-click="loadSearch();" class="btn btn-default btn-success"><i class="fa fa-search" style="font-size: 17px"></i>&nbsp;Search</button>
                      </div>
                    </form>
          </div>
    </div>
  </div>
</div>
    <div class="container-fluid">
<div class="row">

            <div class="col-lg-12">

                <div class="panel panel-default panel-table search1">
                    <div class="panel-body table-responsive">
                        <table class="table table-striped table-bordered table-list">
                            <thead>
                                <tr>
                     <th  userload-sort order="'typeOfLoad'" sort="sort">Type of Load</th>
                     <th  userload-sort order="'from_city'" sort="sort">From City</th>
                     <th  userload-sort order="'to_city'" sort="sort">To City</th>
                     <th>Kms</th>
                     <th>Load Cost</th>
                     <th>Advance</th>
                     <th  userloads-sort order="'tonns_available'" sort="sort">Available Tons</th>
                     <th>Available Dates</th>
                     <th  userload-sort order="'vehicle_type'" sort="sort">Need of Vehicle</th>
                     <th>Posted On</th>
                     <th>Booking </th>
                  </tr>

                            </thead>
                            <tbody id="myTable">

                                <tr ng-repeat="data in searchData | orderBy:sort.sortingOrder:sort.reverse">
                                    <td>{{data.typeOfLoad}}</td>
                                    <td>{{data.from_city}}({{data.from_location}})</td>
                                    <td>{{data.to_city}}({{data.to_location}})</td>
                                    <td>{{data.distance_km}}</td>
                                    <td>{{data.load_cost}}/- {{data.load_cost_type}}</td>
                                    <td>{{data.advance_percent}}</td>
                                    <td>{{data.tonns_available}}</td>
                                    <td>{{data.available_daily=='1'?'Daily':data.available_date_from+' to '+data.available_date_to}}</td>
                                    <td>{{data.vehicle_type}}</td> 
                                    <td>{{data.created_date}}</td>

                                    <td><a href="#SelectTruck/{{data.id}}"class="btn btn-info">
                                    Book Now

                                    </a>
                                    </td>



                                </tr>
                                
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
          </div>
        </div>
         <div class="container  search2">
            <div class="row1"  ng-repeat="data in searchData">
         <table class="w3-table-all notranslate" style="border: 1px solid black" >
<tbody>
<tr>
<td>Type of Load :</td>
<td>{{data.typeOfLoad}}</td>
</tr>
<tr>
<td>From City :</td>
<td>{{data.from_city}}({{data.from_location}})</td>
</tr>
<tr>
<td>To City :</td>
<td>{{data.to_city}}({{data.to_location}})</td>
</tr>
<tr>
<td>KMS  :</td>
<td>{{data.distance_km}}</td>
</tr>
<tr>
<td>Load Cost : </td>
<td>{{data.load_cost}}/- {{data.load_cost_type}}</td>
</tr>
<tr>
<td>Advance : </td>
<td>{{data.advance_percent}}</td>
</tr>
<tr>
<td>Available Tons : </td>
<td>{{data.tonns_available}}</td>
</tr>
<tr>
<td>Available Dates : </td>
 <td>{{data.available_daily=='1'?'Daily':data.available_date_from+' to '+data.available_date_to}}</td>
</tr>
<tr>
<td>Need of Vehicle : </td>
<td>{{data.vehicle_type}}</td> 
</tr>
<tr>
<td>Posted On : </td>
 <td>{{data.created_date}}</td>
</tr>
<tr>
  <td>Booking </td>
<td><a href="#SelectTruck/{{data.id}}"class="btn btn-info">
                                    Book Now

                                    </a>
</td>
</tr>
</tbody></table>
</div>
     </div>
         

    <script type="text/javascript">
            // When the document is ready
            $(document).ready(function () {
               $('#search_datePicker').datepicker({
                  format: 'dd/mm/yyyy',
                  autoclose: true, 
                  startDate:new Date(),
                  todayHighlight: true,
                  orientation: "bottom auto" 
              })
            });
</script>