
<style>
body{
    background-color:white;
}
h5{
font-size:14px;
}
.panel-body{
    margin-top:20px;
    background-color:#F7F7F7;
}
.panel-default > .panel-heading {
    background-color: #fff;
    border-color: #FF3300;;
}
</style>
<div class="container">
    <div class="row">
    <div class="col-lg-12">
              <ul class="breadcrumb">
                <li><a href="#Home" style="z-index:9;">Home</a></li>
                <li class="active">Set Password</li>
              </ul>
            </div>
    <h2 class="text-warning" align="center">Ravaana.in</h2>
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4">
                
                        <div class="panel panel-default">
                            <div class="panel-heading">
                      <h4>Create new password</h4>
                      <h6>We'll ask for this password whenever you sign in.</h6>
                        <!-- <div class="alert alert-danger text-center" ng-show="errorLogin">
                            <button type="button" class="close" ng-click="clearMsg()"><span aria-hidden="true">&times;</span></button>
                            
                        </div>-->
                            </div>
                             <div class="panel-body" style="margin:10px">
                              <form role="form" name="logform" id="logform" ng-submit="logform.$valid && login($event)" novalidate="true" autocomplete="off">
                                        <div class="form-group has-feedback">
                                            <label>New Password</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                            <i class="fa fa-lock"></i></span>
                                            <input type="text" class="form-control" name="otp" placeholder="Enter OTP" ng-model="user.username" ng-required="true">
                                        </div>
                                       </div>    
                                       <div class="form-group has-feedback">
                                            <label>Password again</label>
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                            <i class="fa fa-lock"></i></span>
                                            <input type="text" class="form-control" name="otp" placeholder="Enter OTP" ng-model="user.username" ng-required="true">
                                        </div>
                                       </div>     
                            </form>
                            <div class="form-group input-group col-lg-12">
                    
                     <a href="#SignIn" type="submit" class="btn btn-sm col-lg-12" style="background-color: #64A737; color: white;  border: 1px solid white;"> &nbsp;Save Changes</a>
                    
            </div>
                        </div>

                    </div>  
        </div>
    </div>
</div>
<script type="text/javascript">

$(document).ready(function() {
    $('#logform').bootstrapValidator({
      live: 'enabled',
      message: 'This value is not valid',
      submitButton: 'logform button[type="submit"]',
      submitHandler: function(validator, form, submitButton) {
          return false;
      },
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {

            
            usr: {
                message: 'The contact person name is not valid',
                validators: {
                    notEmpty: {
                        message: 'Email/Mobile  is required and can\'t be empty'
                    }
                }
            },
            
            pswd: {
                message: 'The company name is not valid',
                validators: {
                    notEmpty: {
                        message: 'password is required and can\'t be empty'
                    }
                }
            }
            

            
        }
    });
});
</script>