<style>
body{
background-color:white;
}

.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}
</style>
 <form name="updateform" id="updateform" ng-submit="update()" ng-init="fetchProfile();" novalidate="true" autocomplete="off" >

<div class="container">
    <div class="row">
	<div class="col-lg-12">
        <ul class="breadcrumb">
          <li><a href="#Home" style="z-index:9;">Home</a></li>
	        <li class="active">My Profile</li>
        </ul>
  </div>
  <div class="alert alert-danger text-center" ng-show="errorProfile">
      <button type="button" class="close" ng-click="clearMsg()"><span aria-hidden="true">&times;</span></button>
      {{ errorMsg }}
  </div>  
  		<div class="col-lg-4">
         <img src="php/upload/{{user.profile_pic}}" alt="" width="275px" height="185px" id="output" >
         <br><br>
         <div class="input-group">
            <div class="input-group-addon">Profile Pic</div>
              <input type="file" class="form-control"ng-model="image1" accept="image/*" onchange="angular.element(this).scope().uploadedFile(this)">
            </div>
       <br>
        
		

               
          <div class="panel panel-default" ng-repeat="branch in branches">
            <div class="panel-heading">{{branch.type=='Company'?'Head Office Address':'BRANCH ADDRESS'}}</div>
            <div class="panel-body"><h4>{{branch.name}}</h4>
			<p>{{branch.address}}</p>
			</div>
          </div>
               
         <!--<div class="panel panel-default">
            <div class="panel-heading">BRANCH ADDRESS</div>
            <div class="panel-body"><h4>KAKINADA PORT</h4>
			<h4>Ravaana India Pvt Ltd</h4>
			<p>Office no:12 TTT plaza 2 nd floor kakinada port east godavari (dt) (ap) india</p>
			</div>
          </div>-->
         <a href="#Branches"class="btn btn-primary"><i class="fa fa-plus-square-o"></i>&nbsp;&nbsp;
		 Add New Branches</a>
        </div>
    	<div class="col-lg-8">
                <hr>
                      <div class="form-group">
                          
                          <div class="col-lg-4">
                              <label for="name"><h4>Name</h4></label>
                              <div class="input-group">
                <span class="input-group-addon">
                <i class="fa fa-user"></i></span>
                              <input type="text" class="form-control" name="name" id="name" ng-model="user.name" ng-required="true">
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-lg-4">
                            <label for="email"><h4>Email</h4></label>
                            <div class="input-group">
                <span class="input-group-addon">
                <i class="fa fa-envelope-o"></i></span>
                              <input type="text" class="form-control" name="email" id="email"  ng-model="user.email" readonly="true">
                          </div>
                        </div>
                      </div>
					  <div class="form-group">
                          
                          <div class="col-lg-4">
                            <label for="mobile"><h4>Mobile</h4></label>
                             <div class="input-group">
                <span class="input-group-addon">
                <i class="fa fa-mobile"></i></span>
                              <input type="text" class="form-control" name="email" id="email"  ng-model="user.mobile" readonly="true">
                          </div>
                        </div>
                      </div>

		
						
                       <div class="form-group">
                          
                          <div class="col-lg-4">
                              <label for="aadhar"><h4>Aadhar Number</h4></label>
                               <div class="input-group">
                <span class="input-group-addon">
                <i class="fa fa-id-card"></i></span>
                              <input type="text" class="form-control"  ng-model="user.aadhar_number" ng-required="true" name="aadhar_number" id="aadhar_number" >
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-lg-4">
                            <label for="company_name"><h4>Company Name</h4></label>
                             <div class="input-group">
                <span class="input-group-addon">
                <i class="fa fa-building-o"></i></span>
                              <input type="text" class="form-control"  ng-model="user.company_name" ng-required="true" name="company_name" id="company_name" >
                          </div>
                        </div>
                      </div>
					  <div class="form-group">
                          
                          <div class="col-lg-4">
                            <label for="PAN"><h4>PAN Number</h4></label>
                             <div class="input-group">
                <span class="input-group-addon">
                <i class="fa fa-id-card-o"></i></span>
                              <input type="text" class="form-control"  ng-model="user.panCard_number" ng-required="true" name="panCard_number" id="panCard_number" >
                          </div>
                      </div>
                    </div>
					  <div class="col-lg-12">
					  <p style="margin-top:80px;color:red">Note : For any corrections in Company Registered Address, Registration Certificate, Aadhar or Company PAN details, please contact Administrator.</p>
					  </div>
					  <div class="col-lg-12">
						 <div class="col-lg-4">
                            <label for="aadharcopy"><h4>Aadhar Copy</h4></label>
							<br>
                            <img src="php/upload/{{user.aadhar_copy}}" width="200px" alt="" class="zoom" id="output1" >
                            <br><br>
                             <div class="input-group">
                                <div class="input-group-addon">Aadhar</div>
                                  <input type="file" id="main-input" class="form-control" accept="image/*"  ng-model="image2" onchange="angular.element(this).scope().uploadedFile2(this)" >
                                </div>
                             
                           <br>
                              
                          
                          </div>
						  <div class="col-lg-4">
                            <label for="aadharcopy"><h4>Company Certificate</h4></label>
							<br>
                             <img src="php/upload/{{user.company_certificate}}" width="200px" alt="" class="zoom" id="output2" >
                             <br><br>
                             <div class="input-group">
                                <div class="input-group-addon">Certificate</div>
                                  <input type="file" id="main-input" class="form-control" accept="image/*"  ng-model="image3" onchange="angular.element(this).scope().uploadedFile3(this)"  >
                                </div>
                              
                           <br>
                             
                          </div>
						  <div class="col-lg-4">
                            <label for="aadharcopy"><h4>PAN Card Copy</h4></label>
							<br>
                             <img src="php/upload/{{user.company_panCard}}" width="200px" alt="" class="zoom" id="output3" >
                              <br><br>
                             <div class="input-group">
                                <div class="input-group-addon">PAN Card </div>
                                 <input type="file" id="main-input" class="form-control" accept="image/*"  ng-model="image4" onchange="angular.element(this).scope().uploadedFile4(this)"  >
                                </div>
                             
                           <br>
                            
                          </div>
						  </div>
                      <div class="form-group">
                           <div class="col-lg-12 col-lg-offset-4">
                                <br>
								<br>
								<br>
                              	 <a href="#UpdateLoginDetails"class="btn btn-info"> <i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;Update Email/Mobile</a>
                               	<button class="btn btn-success" type="submit"><i class="fa fa-floppy-o"></i>&nbsp;&nbsp;Submit</button>
                                <button class="btn btn-danger"  type="reset" ng-click="cancelUpdate();"><i class="fa fa-times"></i>&nbsp;&nbsp;Cancel</button>
                            </div>
							</div>
          </div>
		  </div>
		  </div>
      </form>                                                
<script type="text/javascript">
            // When the document is ready
            $(document).ready(function () {  
            $('#updateform').bootstrapValidator({
            live: 'enabled',
            message: 'This value is not valid',
            submitButton: 'updateform button[type="submit"]',
            submitHandler: function(validator, form, submitButton) {
              return false;
            },
            feedbackIcons: {
                valid: 'glyphicon glyphicon-ok',
                invalid: 'glyphicon glyphicon-remove',
                validating: 'glyphicon glyphicon-refresh'
            },
            fields: {
            
                panCard_number: {
                    validators: {
                        notEmpty: {
                            message: 'PanCard number is required'
                        }
                    }
                },
                company_name: {
                    validators: {
                        notEmpty: {
                            message: 'company name is required'
                        }
                    }
                },
                aadhar_number: {
                    validators: {
                        notEmpty: {
                            message: 'aadhar number is required'
                        }
                    }
                },
                name: {
                    validators: {
                        notEmpty: {
                            message: 'Name is required'
                        }
                    }
                },
                
               /* truck_rc : {
                    validators: {
                        notEmpty: {
                            message: 'Please Upload Truck RC'
                        },
                        file: {
                            extension: 'jpeg,jpg,png',
                            type: 'image/jpeg,image/png',
                            message: 'The selected file is not valid'
                        },
                    }
                }, 
                truck_insurence : {
                    validators: {
                        notEmpty: {
                            message: 'Please Upload Truck Insurence'
                        },
                        file: {
                            extension: 'jpeg,jpg,png',
                            type: 'image/jpeg,image/png',
                            message: 'The selected file is not valid'
                        },
                    }
                }, 
                truck_pollution : {
                    validators: {
                        notEmpty: {
                            message: 'Please Upload Pollution Documents'
                        },
                        file: {
                            extension: 'jpeg,jpg,png',
                            type: 'image/jpeg,image/png',
                            message: 'The selected file is not valid'
                        },
                    }
                }, 
                truck_fitness_certificate : {
                    validators: {
                        notEmpty: {
                            message: 'Please Upload Fitness Certificate'
                        },
                        file: {
                            extension: 'jpeg,jpg,png',
                            type: 'image/jpeg,image/png',
                            message: 'The selected file is not valid'
                        },
                    }
                }, 
            truck_image: {
                    validators: {
                        notEmpty: {
                            message: 'Please Upload Truck Image'
                        },
                        file: {
                            extension: 'jpeg,jpg,png',
                            type: 'image/jpeg,image/png',
                            message: 'The selected file is not valid'
                        },
                    }
                }, */
        }
    });
});
        </script>