<style>
    .jumbotron {
        background-color: white;
        margin-top: 10px;
    }
    
    .p1 {
        background-color: cyan;
        margin: 5px;
    }
    
    .d1 {
        background-image: -webkit-linear-gradient(90deg, #3f5efb 0%, #fc466b 100%);
        background-image: -ms-linear-gradient(90deg, #3f5efb 0%, #fc466b 100%);
    }
    
    .d2 {
        background-image: -webkit-linear-gradient(90deg, #ee0979 0%, #ff6a00 100%);
    }
    
    .d3 {
        background-image: -webkit-linear-gradient(90deg, #45b649 0%, #dce35b 100%);
    }
    
    .d1,
    h3,
    h4 {
        color: white;
    }
    
    .panel {
        height: 200px;
    }
</style>
<div class="container">
    <div class="row">
	<div class="col-lg-12">
              <ul class="breadcrumb">
                <li><a href="#Home" style="z-index:9;">Home</a></li>
				<li class="active">Transporters</li>
              </ul>
     </div>
        <h2 style="text-align:center">Search Transports</h2>
		<div class="col-lg-3">
		</div>
		<div class="well col-lg-6">
        <div class="col-lg-10">
            <div class="col-md-10">
                <div class="input-group">
                    <span class="input-group-addon">
		<i class="fa fa-search"></i>
	</span>
                    <input type="text" id="typeahead" value="" name="from" class="form-control" placeholder="Enter Transport Company Name" data-bv-field="from" autocomplete="off">
                </div>
            </div>
            <div class="col-md-2">
                <button class="btn btn-primary btn-sm">Search</button>
            </div>
        </div>
    </div>
	</div>
	<div class="well col-lg-12"style="background-color:white">
    <h2 style="text-align:center;color:#DA4A85">KKK INDIA PVT LTD</h2>
	
    <div class="panel panel-default col-md-4 d1">
        <h3>GUDI RAMESH</h3>
        <h4>Email:dkpkaruna1116@gmail.com</h4>
        <h4>Mobile:9398064314</h4>
    </div>
    <div class="panel panel-default col-md-4 d1">
        <h3>Head Office Address</h3>
        <h4>Nellore</h4>
    </div>
    <div class="panel panel-default col-md-4 d1">
        <h3>Branch Office Address</h3>
    </div>
    <div class="col-md-4">
        <h3 style="text-align:center;margin-top:0px"><a href="">Rating</a></h3>
    </div>
    <div class="col-md-4">
        <h3 style="text-align:center;margin-top:0px"><a href="#ViewLoadList">View Load List</a></h3>
    </div>
    <div class="col-md-4">
        <h3 style="text-align:center;margin-top:0px"><a href="#ViewLoadList">View Trucks List</a></h3>
    </div>
    <h2 style="text-align:center;color:#FE600D">ASR TRANSPORTS</h2>
    <div class="panel panel-default col-md-4 d2">
        <h3>asr transports</h3>
        <h4>Email:asrtransport@gmail.com</h4>
        <h4>Mobile:9160844879</h4>
    </div>
    <div class="panel panel-default col-md-4 d2">
        <h3>Head Office Address</h3>
        <h4>ROOM NO.215 TTT BUILDING</h4>
        <h4>KRISHNAPATNAM PORT,</h4>
        <h4>MUTHUKUR(M.D)SPSR NELLORE-524344(A.P)INDIA PH:9160844879</h4>

    </div>
    <div class="panel panel-default col-md-4 d2">
        <h3>Branch Office Address</h3>
    </div>
    <div class="col-md-4">
        <h3 style="text-align:center;margin-top:0px"><a href="">Rating</a></h3>
    </div>
    <div class="col-md-4">
        <h3 style="text-align:center;margin-top:0px"><a href="#ViewLoadList">View Load List</a></h3>
    </div>
    <div class="col-md-4">
        <h3 style="text-align:center;margin-top:0px"><a href="#ViewLoadList">View Trucks List</a></h3>
    </div>
    <h2 style="text-align:center;color:#80C750">CHANDRA TRANSPORTS</h2>
    <div class="panel panel-default col-md-4 d3">
        <h3>asr transports</h3>
        <h4>Email:asrtransport@gmail.com</h4>
        <h4>Mobile:9160844879</h4>
    </div>
    <div class="panel panel-default col-md-4 d3">
        <h3>Head Office Address</h3>
        <h4>ROOM NO.215 TTT BUILDING</h4>
        <h4>KRISHNAPATNAM PORT,</h4>
        <h4>MUTHUKUR(M.D)SPSR NELLORE-524344(A.P)INDIA PH:9160844879</h4>

    </div>
    <div class="panel panel-default col-md-4 d3">
        <h3>Branch Office Address</h3>
    </div>
    <div class="col-md-4">
        <h3 style="text-align:center;margin-top:0px"><a href="">Rating</a></h3>
    </div>
    <div class="col-md-4">
        <h3 style="text-align:center;margin-top:0px"><a href="#ViewLoadList">View Load List</a></h3>
    </div>
    <div class="col-md-4">
        <h3 style="text-align:center;margin-top:0px"><a href="#ViewLoadList">View Trucks List</a></h3>
    </div>
    <h2 style="text-align:center;color:#DA4A85">GARUDA LOGISTICS</h2>
    <div class="panel panel-default col-md-4 d1">
        <h3>GUDI RAMESH</h3>
        <h4>Email:dkpkaruna1116@gmail.com</h4>
        <h4>Mobile:9398064314</h4>
    </div>
    <div class="panel panel-default col-md-4 d1">
        <h3>Head Office Address</h3>
        <h4>Nellore</h4>
    </div>
    <div class="panel panel-default col-md-4 d1">
        <h3>Branch Office Address</h3>
    </div>
    <div class="col-md-4">
        <h3 style="text-align:center;margin-top:0px"><a href="">Rating</a></h3>
    </div>
    <div class="col-md-4">
        <h3 style="text-align:center;margin-top:0px"><a href="#ViewLoadList">View Load List</a></h3>
    </div>
    <div class="col-md-4">
        <h3 style="text-align:center;margin-top:0px"><a href="#ViewLoadList">View Trucks List</a></h3>
    </div>
    <h2 style="text-align:center;color:#FE600D">SIMHAPURI TRANSPORTS</h2>
    <div class="panel panel-default col-md-4 d2">
        <h3>asr transports</h3>
        <h4>Email:asrtransport@gmail.com</h4>
        <h4>Mobile:9160844879</h4>
    </div>
    <div class="panel panel-default col-md-4 d2">
        <h3>Head Office Address</h3>
        <h4>ROOM NO.215 TTT BUILDING</h4>
        <h4>KRISHNAPATNAM PORT,</h4>
        <h4>MUTHUKUR(M.D)SPSR NELLORE-524344(A.P)INDIA PH:9160844879</h4>

    </div>
    <div class="panel panel-default col-md-4 d2">
        <h3>Branch Office Address</h3>
    </div>
    <div class="col-md-4">
        <h3 style="text-align:center;margin-top:0px"><a href="">Rating</a></h3>
    </div>
    <div class="col-md-4">
        <h3 style="text-align:center;margin-top:0px"><a href="#ViewLoadList">View Load List</a></h3>
    </div>
    <div class="col-md-4">
        <h3 style="text-align:center;margin-top:0px"><a href="#ViewLoadList">View Trucks List</a></h3>
    </div>
    <h2 style="text-align:center;color:#80C750">CHOWDARY TRANSPORTS</h2>
    <div class="panel panel-default col-md-4 d3">
        <h3>asr transports</h3>
        <h4>Email:asrtransport@gmail.com</h4>
        <h4>Mobile:9160844879</h4>
    </div>
    <div class="panel panel-default col-md-4 d3">
        <h3>Head Office Address</h3>
        <h4>ROOM NO.215 TTT BUILDING</h4>
        <h4>KRISHNAPATNAM PORT,</h4>
        <h4>MUTHUKUR(M.D)SPSR NELLORE-524344(A.P)INDIA PH:9160844879</h4>

    </div>
    <div class="panel panel-default col-md-4 d3">
        <h3>Branch Office Address</h3>
    </div>
    <div class="col-md-4">
        <h3 style="text-align:center;margin-top:0px"><a href="">Rating</a></h3>
    </div>
    <div class="col-md-4">
        <h3 style="text-align:center;margin-top:0px"><a href="#ViewLoadList">View Load List</a></h3>
    </div>
    <div class="col-md-4">
        <h3 style="text-align:center;margin-top:0px"><a href="#ViewLoadList">View Trucks List</a></h3>
    </div>
    <h2 style="text-align:center;color:#DA4A85">SSS ANS TRANSPORTS</h2>
    <div class="panel panel-default col-md-4 d1">
        <h3>GUDI RAMESH</h3>
        <h4>Email:dkpkaruna1116@gmail.com</h4>
        <h4>Mobile:9398064314</h4>
    </div>
    <div class="panel panel-default col-md-4 d1">
        <h3>Head Office Address</h3>
        <h4>Nellore</h4>
    </div>
    <div class="panel panel-default col-md-4 d1">
        <h3>Branch Office Address</h3>
    </div>
    <div class="col-md-4">
        <h3 style="text-align:center;margin-top:0px"><a href="">Rating</a></h3>
    </div>
    <div class="col-md-4">
        <h3 style="text-align:center;margin-top:0px"><a href="#ViewLoadList">View Load List</a></h3>
    </div>
    <div class="col-md-4">
        <h3 style="text-align:center;margin-top:0px"><a href="#ViewLoadList">View Trucks List</a></h3>
    </div>
    <h2 style="text-align:center;color:#FE600D">TULAJAIBAVANI ROADWAYS</h2>
    <div class="panel panel-default col-md-4 d2">
        <h3>asr transports</h3>
        <h4>Email:asrtransport@gmail.com</h4>
        <h4>Mobile:9160844879</h4>
    </div>
    <div class="panel panel-default col-md-4 d2">
        <h3>Head Office Address</h3>
        <h4>ROOM NO.215 TTT BUILDING</h4>
        <h4>KRISHNAPATNAM PORT,</h4>
        <h4>MUTHUKUR(M.D)SPSR NELLORE-524344(A.P)INDIA PH:9160844879</h4>

    </div>
    <div class="panel panel-default col-md-4 d2">
        <h3>Branch Office Address</h3>
    </div>
    <div class="col-md-4">
        <h3 style="text-align:center;margin-top:0px"><a href="">Rating</a></h3>
    </div>
    <div class="col-md-4">
        <h3 style="text-align:center;margin-top:0px"><a href="#ViewLoadList">View Load List</a></h3>
    </div>
    <div class="col-md-4">
        <h3 style="text-align:center;margin-top:0px"><a href="#ViewLoadList">View Trucks List</a></h3>
    </div>
    <h2 style="text-align:center;color:#80C750">NAVODAYA TRANSPORTS</h2>
    <div class="panel panel-default col-md-4 d3">
        <h3>asr transports</h3>
        <h4>Email:asrtransport@gmail.com</h4>
        <h4>Mobile:9160844879</h4>
    </div>
    <div class="panel panel-default col-md-4 d3">
        <h3>Head Office Address</h3>
        <h4>ROOM NO.215 TTT BUILDING</h4>
        <h4>KRISHNAPATNAM PORT,</h4>
        <h4>MUTHUKUR(M.D)SPSR NELLORE-524344(A.P)INDIA PH:9160844879</h4>

    </div>
    <div class="panel panel-default col-md-4 d3">
        <h3>Branch Office Address</h3>
    </div>
    <div class="col-md-4">
        <h3 style="text-align:center;margin-top:0px"><a href="">Rating</a></h3>
    </div>
    <div class="col-md-4">
        <h3 style="text-align:center;margin-top:0px"><a href="#ViewLoadList">View Load List</a></h3>
    </div>
    <div class="col-md-4">
        <h3 style="text-align:center;margin-top:0px"><a href="#ViewLoadList">View Trucks List</a></h3>
    </div>
	</div>
</div>