<div class="container">
   <div class="row">
   <div class="col-lg-12">
              <ul class="breadcrumb">
                <li><a href="#Home" style="z-index:9;">Home</a></li>
				<li class="active">AuditReport</li>
              </ul>
            </div>
			<div class="well col-lg-12">
      <h2>Audit Report</h2>
	   <hr style="border:1px solid #FF3300">
	  <div class="well col-lg-10 col-lg-offset-1"style="background-color:#F5F5F5">
      <form class="form-horizontal">
         <div class="form-group">
            <label class="col-md-2 control-label" for="SearchParams" style="color:black">Category</label>
            <div class="col-md-3">
               <select class="form-control">
                  <option value="">Select Category</option>
                  <option value="1">ActiveLoads</option>
                  <option value="2">ActiveVehiclesAvailability</option>
               </select>
            </div>
         </div>
         <div class="form-group">
            <label class="col-md-2 control-label" for="Dates" style="color:black">Between Dates</label>
            <div class="col-md-2">
               <input class="form-control" id="SearchParams_FromDate" maxlength="10" name="SearchParams.FromDate" placeholder="From date" style="display:inline;" type="text" value="" readonly="readonly">
               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
               <input class="form-control" id="SearchParams_ToDate" maxlength="10" name="SearchParams.ToDate" placeholder="To date" style="display:inline;" type="text" value="" readonly="readonly">
            </div>
         </div>
         <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
               <input type="submit" id="btnSearch" value="Search" class="btn btn-primary">&nbsp;&nbsp;&nbsp;
               <a class="btn btn-danger cancel" href="/AuditLog?Reset=1">Reset</a>
            </div>
         </div>
      </form>
</div>
         <div class="col-lg-12">
            <div class="panel panel-default panel-table">
               <div class="panel-body table-responsive">
                  <table class="table table-striped table-bordered table-list">
                     <thead>
                        <tr>
                           <th><a>Category</a></th>
                           <th><a>Ref ID</a></th>
                           <th><a>Field Name</a></th>
                           <th><a>Old Value</a></th>
                           <th><a>New Value</a></th>
                           <th><a>Changed Date</a></th>
                           <th><a>Changed By</a></th>
                           <th><a>Email</a></th>
                           <th><a>Mobile</a></th>
                        </tr>
                     </thead>
                     <tbody id="myTable">
                        <tr>
							<td colspan="9">There are no items to display</td>
                        </tr>
                        
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
	  </div>