<style>
body{
background-color:white;
}

.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}
</style>
<div class="container">
    <div class="row">
	<div class="col-lg-12">
              <ul class="breadcrumb">
                <li><a href="#Home" style="z-index:9;">Home</a></li>
				<li class="active">My Profile</li>
              </ul>
            </div>
  		<div class="col-lg-4">
         <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" alt="">
        <h6>Upload a different photo...</h6>
        <input type="file" class="text-center center-block file-upload">
		</hr><br>

               
          <div class="panel panel-default">
            <div class="panel-heading">Head Office Address</div>
            <div class="panel-body"><h4>Ravaana India Pvt Ltd</h4>
			<p>#201, 2nd floor, Survey No. 429, NH-65, Hyderabad, India-502032 Phone:91+9666569885</p>
			</div>
          </div>
        </div>
    	<div class="col-lg-8">
                <hr>
                      <div class="form-group">
                          
                          <div class="col-lg-4">
                              <label for="name"><h4>Name</h4></label>
                              <input type="text" class="form-control">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-lg-4">
                            <label for="email"><h4>Email</h4></label>
                              <input type="text" class="form-control">
                          </div>
                      </div>
					  <div class="form-group">
                          
                          <div class="col-lg-4">
                            <label for="mobile"><h4>Mobile</h4></label>
                              <input type="text" class="form-control">
                          </div>
                      </div>
                       <div class="form-group">
                          
                          <div class="col-lg-4">
                              <label for="aadhar"><h4>Aadhar Number</h4></label>
                              <input type="text" class="form-control">
                          </div>
						   <div class="col-lg-4">
                            <label for="aadharcopy"><h4>Aadhar Copy</h4></label>
							<br>
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" width="200px" alt="" class="zoom">
                          </div>
                      </div>
					 <div class="col-lg-12">
					   <div class="form-group">
                          
                          <div class="col-lg-4">
                              <label for="aadhar"><h4>License Number</h4></label>
                              <input type="text" class="form-control">
                          </div>
						   <div class="col-lg-4">
                            <label for="aadharcopy"><h4>License Copy</h4></label>
							<br>
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS52y5aInsxSm31CvHOFHWujqUx_wWTS9iM6s7BAm21oEN_RiGoog" width="200px" alt="" class="zoom">
                          </div>
                      </div>
					  </div>
					  <div class="col-lg-12">
					  <p style="margin-top:80px;color:red">Note : For any corrections in Aadhar details, please contact Administrator.</p>
					  </div>
						
                      <div class="form-group">
                           <div class="col-lg-12 col-lg-offset-4">
                                <br>
                              	<button class="btn  btn-success" type="update">Update Email/Mobile</button>
                               	<button class="btn btn-info" type="submit">Submit</button>
                            </div>
							</div>
          </div>
		  </div>
		  </div>
		  
		  
                                                      

