<style>
body{
background-color:white;
}

.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}
.form-style-base {
    position: absolute;
    top: 222px;
    z-index: 999;
	opacity:0;
	width: 150px;
	
}
.form-style-base1 {
    position: absolute;
    top: 270px;
    z-index: 999;
	opacity:0;
	width: 350px;
	
}
.required{
color:red;
}
</style>
<div class="container">
    <div class="row">
	<div class="col-lg-12">
              <ul class="breadcrumb">
                <li><a href="#Home" style="z-index:9;">Home</a></li>
				<li class="active">Upload Documents</li>
              </ul>
            </div>
  		 
                      <div class="col-lg-4">
                <div class="thumbnail">
                   <img src="http://placehold.it/230x240" alt="">
                </div>

               <input type="file" id="main-input" class="form-control form-input form-style-base1">
                     <button class="btn btn-primary col-sm-12">Upload Your Photo</button>
    
        </div>    
         <br>
    	<div class="well col-lg-8" style="background-color:#F7F7F7">
		<hr>
               
                      <div class="form-group">
                          
                          <div class="col-lg-4">
                              <label for="name"><h4>Name</h4></label>
                              <input type="text" class="form-control">
                          </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-lg-4">
                            <label for="email"><h4>Email</h4></label>
                              <input type="text" class="form-control">
                          </div>
                      </div>
					  
					  <div class="form-group">
                          
                          <div class="col-lg-4">
                            <label for="mobile"><h4>Mobile</h4></label>
                              <input type="text" class="form-control">
                          </div>
                      </div>

						
                       <div class="form-group">
                          
                          <div class="col-lg-5">
                              <label for="aadhar"><h4>Aadhar Number</h4></label><span class="required">&nbsp;*</span>
                              <input type="text" class="form-control" placeholder="Enter Aadhar Number">
                          </div>
                      </div>
					  
                      <div class="col-sm-3">
<br>
					  <br>
            
                <div class="thumbnail">
                   <img src="http://placehold.it/230x240" alt="">
                </div>

               <input type="file" id="main-input" class="form-control form-input form-style-base">
                     <button class="btn btn-primary">Upload Aadhar Card</button>
    
        </div>
						   <div class="form-group">
                          
                          <div class="col-lg-5">
                              <label for="License"><h4>Driving License Number</h4></label><span class="required">&nbsp;*</span>
                              <input type="text" class="form-control" placeholder="Enter License Number">
                          </div>
                      </div>
					  
                      <div class="col-sm-3">
<br>
					  <br>
            
                <div class="thumbnail">
                   <img src="http://placehold.it/230x240" alt="">
                </div>

               <input type="file" id="main-input" class="form-cotrol form-input form-style-base">
                     <button class="btn btn-primary">Upload License Copy</button>
    
        </div> 
		
		</div>
                      <div class="form-group">
                           <div class="col-lg-12 col-lg-offset-4">
                                <br>
								<br>
								<br>
                              	<button class="btn  btn-success" type="update">Update Email/Mobile</button>
                               	<button class="btn btn-info" type="submit">Submit</button>
                            </div>
							</div>
         
		  </div>
		  </div>
                                                      

