<style>
body{
	background-color:white;

}
</style>
<div class="container">
<div class="row">
<div class="col-lg-12">
              <ul class="breadcrumb">
                <li><a href="#Home" style="z-index:9;">Home</a></li>
				<li class="active">User Load Request</li>
              </ul>
            </div>
</div>
<h2>USER LOAD REQUEST</h2>
	<hr style="border:1px solid #FF3300">
<div class="row">

            <div class="col-lg-12">

                <div class="panel panel-default panel-table search1">
                    <div class="panel-body table-responsive">
                        <table class="table table-striped table-bordered table-list">
                            <thead>
                                <tr>
                     <th>LOAD OWNER</th>
				<th>LOAD TYPE</th>
				<th>FROM CITY</th>											
				<th>TO CITY</th>
				<th>KMS</th>
				<th>NEED TRUCK</th>
				<th>TRUCK CAPACITY</th>
				<th>TON COST</th>
				<th>ADVANCE%</th>
				<th>NEED OF DATE&TIME	</th>				
				<th>NO OF TRUCKS</th>
				<th>ASSIGN TRUCK NUMBER</th>
                  </tr>

                            </thead>
                            <tbody id="myTable">

                                <tr>
                                    <td style="width:150px">NARAYANA TRANSPORT</td>
				<td>Coal</td>				
				<td>K.P PORT</td>
				<td>BALLERY</td>
				<td>450 </td>
				
				<td>14 Tyre truck</td>
				<td>24 tons </td>				
				<td>980</td>
        <td>80%</td>
				<td style="width:150px">25/07/2018:07:30PM</td>
        <td>5</td>
				<td><a href="#OwnerSelectTruck" class="btn btn-info">ASSIGN</a></td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>
        </div>
</div>
    