<style>
body{
background-color:white;
}

.zoom:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
}
.required{
color:red;
}
</style>
<div class="container">
    <div class="row">
  <div class="col-lg-12">
              <ul class="breadcrumb">
                <li><a href="#Home" style="z-index:9;">Home</a></li>
                <li class="active">User Profile</li>
              </ul>
            </div>
           

       
                      <div class="col-lg-4">
                <div class="thumbnail">
                   <img src="php/upload/{{user.profile_pic}}" alt="" id="profile_output" >
                </div>
                <div class="form-group">
            
                 <div class="input-group">
               <input type="file" name="profile_pic" id="profile_pic" class="form-control form-input" ng-model="profile_pic" accept="image/*" onchange="angular.element(this).scope().upload_profile_pic(this)">
                  </div>
                </div>
    
        </div>    
         <br>
      <div class="well col-lg-8" style="background-color:#F7F7F7">
         <div class="form-group">
                          <hr>
                          <div class="col-lg-4">
                              <label for="firstname">First Name</label>
                               <div class="input-group">                       
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                              <input type="text" class="form-control" readonly="true">
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                          
                          <div class="col-lg-4">
                            <label for="lastname">Last Name</label>
                             <div class="input-group">                       
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                              <input type="text" class="form-control"  readonly="true">
                          </div>
                        </div>
                      </div>
            
            <div class="form-group">
                          
                          <div class="col-lg-4">
                            <label for="name">User Name</label>
                             <div class="input-group">                       
                                <span class="input-group-addon"><i class="fa fa-users"></i></span>
                              <input type="text" class="form-control" readonly="true">
                          </div>
                      </div>
                    </div>

            <div class="form-group">
                          <div class="col-lg-4">
                            <label for="role">Role</label>
                             <div class="input-group">                       
                                <span class="input-group-addon"><i class="fa fa-street-view"></i></span>
                              <input type="text" class="form-control" readonly="true">
                          </div>
                      </div>
                    </div>

            <div class="form-group">
                          <hr>
                          <div class="col-lg-4">
                            <label for="email">Email</label>
                             <div class="input-group">                       
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                              <input type="text" class="form-control" readonly="true">
                          </div>
                      </div>
                    </div>

            <div class="form-group">
                          
                          <div class="col-lg-4">
                            <label for="mobile">Mobile</label>
                             <div class="input-group">                       
                                <span class="input-group-addon"><i class="fa fa-mobile"></i></span>
                              <input type="text" class="form-control" readonly="true">
                          </div>
                      </div>
                    </div>
   </div>
      </div>
      <div class="form-group">
            <div class="col-lg-4 col-lg-offset-6">
               <a href="#EditProfile" class="btn btn-info"><i class="fa fa-pencil-square-o"></i>&nbsp;Edit</a>
            </div>
         </div>
      </div>
   </div>