
<style>
body{
    background-color:white;
}
h5{
font-size:14px;
}
.panel-body{
    margin-top:20px;
    background-color:#F7F7F7;
}
.panel-default > .panel-heading {
    background-color: #fff;
    border-color: #FF3300;;
}
</style>
<form name="verifyotp_form" id="verifyotp_form"  ng-submit="verifyotp_form.$valid && verifyotpform()" novalidate="true" autocomplete="off">
<div class="container">
    <div class="row">
    <div class="col-lg-12">
              <ul class="breadcrumb">
                <li><a href="#Home" style="z-index:9;">Home</a></li>
                <li class="active">Verify OTP</li>
              </ul>
            </div>
    <h2 class="text-warning" align="center">Ravaana.in</h2>
    <div class="col-lg-4">
    </div>
    <div class="col-lg-4">
                
                        <div class="panel panel-default">
                            <div class="panel-heading">
                      <h4>Verifying it's you</h4>
                        <!-- <div class="alert alert-danger text-center" ng-show="errorLogin">
                            <button type="button" class="close" ng-click="clearMsg()"><span aria-hidden="true">&times;</span></button>
                            
                        </div>-->
                            </div>
                             <div class="panel-body" style="margin:10px">
                             
                                        <div class="form-group has-feedback">
                                        <div class="input-group">
                                            <span class="input-group-addon">
                                            <i class="fa fa-mobile"></i></span>
                                            <input type="text" class="form-control" name="verifyotp" placeholder="Enter OTP" ng-model="verifyotp" id="verifyotp" ng-required="true">
                                        </div>
                                       </div>     
                           
                            <div class="form-group input-group col-lg-12">
                    
                     <button type="submit" ng-click="submitted=true"  class="btn btn-sm col-lg-12" style="background-color: #64A737; color: white;  border: 1px solid white;"> &nbsp;Continue</button>
                    
            </div>
                        </div>

                    </div>  
        </div>
    </div>
</div>
</form>
<script type="text/javascript">
 
   $(document).ready(function() {
    $('#verifyotp_form').bootstrapValidator({
        // To use feedback icons, ensure that you use Bootstrap v3.1.0 or later
         excluded: [':disabled', ':hidden', ':not(:visible)'],
        live: 'enabled',
            message: 'This value is not valid',
            submitButton: 'verifyotp_form button[type="submit"]',
            submitHandler: function(validator, form, submitButton) {
              return false;
            },
        feedbackIcons: {
            valid: 'glyphicon glyphicon-ok',
            invalid: 'glyphicon glyphicon-remove',
            validating: 'glyphicon glyphicon-refresh'
        },
        fields: {
            verifyotp: {
                validators: {
                    notEmpty: {
                        message: 'Verification Code is required and can\'t be empty'
                    }
                }
            },
            
            
            }
        })
        
    
        
});
</script>
